# Default requirements
# black
# flake8
# isort
# loguru
# mkdocs
# pip
# python-dotenv
# tqdm
# typer

# # Workflow requirements
# -e .
# ipykernel
# biopython>=1.80
# numpy>=2.0.0
# pydna>=5.2.0
# pillow>=10.3.0
# scipy>=1.14.0
# pandas>=2.2.2
# primer3-py>=2.0.3
# teemi>=0.3.4

# # App requirements
# dash>=2.17.1
# dash-bootstrap-components>=1.6.0




# For github actions: 
-e .
alabaster==1.0.0
appdirs==1.4.4
appnope==0.1.4
asttokens==2.4.1
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
benchlingapi==2.1.12
biopython==1.80
bleach==6.1.0
blinker==1.8.2
bs4==0.0.1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
contourpy==1.3.0
coverage==7.6.1
cycler==0.12.1
dash==2.18.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
dnachisel==3.2.11
docopt==0.6.2
docutils==0.21.2
et-xmlfile==1.1.0
executing==2.1.0
fastjsonschema==2.20.0
flametree==0.1.12
Flask==3.0.3
fonttools==4.60.2
idna==3.10
imagesize==1.4.1
importlib_metadata==8.5.0
inflection==0.3.1
iniconfig==2.0.0
intermine==1.13.0
ipykernel==6.29.5
ipython==8.27.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.7
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mistune==3.0.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nbsphinx==0.9.2
nest-asyncio==1.6.0
networkx==3.3
numpy==2.1.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
prettytable==3.11.0
primer3-py==2.0.3
proglog==0.1.10
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pydna==5.2.0
pyfiglet==1.0.2
Pygments==2.18.0
pyparsing==3.1.4
pyperclip==1.9.0
pytest==8.3.3
pytest-cov==4.1.0
python-codon-tables==0.1.12
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.4
retrying==1.3.4
rpds-py==0.20.0
scipy==1.14.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
teemi==0.3.4
tenacity==9.0.0
tinycss2==1.3.0
tornado==6.5
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3>=2.6.0
urlopen==1.0.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.4 # dependabot wants <= 3.0.5 --> ~> 3.0.6
zipp==3.20.2

# extra
pytest
pytest-cov
pydna
matplotlib-inline
openpyxl
scipy
pandas
nbclient
nbconvert
nbformat
plotly
proglog
python-dateutil
requests